.flexcontainer {
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
}

.flexcontainer > div {
    height: 100px;
    text-align: center;
}

.logo {
    background-color: blue;
    flex: 1;
}

.team {
    background-color: aqua;
    flex: 4;
}

.products {
    background-color: red;
    flex: 4;
}