body {
    background-color: aliceblue;
}

.flexcontainer {
    background-color: aquamarine;
    padding: 2px;
    display: flex;    /* Important to use flex */
    flex-direction: column;        
    justify-content: space-between;  /*  Main axis */
    align-items: stretch;    /*  Cross axis */
    flex-wrap: wrap;
    height: 300px;
}

.flexcontainer > div {
    /* margin: 2px; */
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
    width: 20%;
    align-self: flex-end;
}

.yellow {
    background-color: beige;
}

