body {
    background-color: aliceblue;
}

.flexcontainer {
    background-color: aquamarine;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
}

.flexcontainer > div {
    width: 200px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: beige;
}

.blue {
    background-color: blue;
}