body {
    background-color: aliceblue;
}

.flexcontainer {
    background-color: aquamarine;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}